[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
motor = "*"
PyJWT = "*"
bcrypt = "*"
uvicorn = "*"
pymongo = "*"
python-decouple = "*"
fastapi = "*"
passlib = "*"
python-multipart = "*"
boto3 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.pydantic]
extras = [ "email",]
